* {
	box-sizing: border-box;
}

body {
	color: #174450;
	font-size: 10px;
	line-height: 1.85em;
	font-weight: 300;
	margin:0;
	height:100%;
}

a:hover,
a:focus {
  text-decoration: none;
}

.titlebar {
	position:absolute;
	top: 0;
	left:0;
	width:100%;
	height:40px;
	display:flex;
	flex: 0 1 auto;
	flex-direction:row;
	order: 0;
	background-color: white;
	text-align:center;
	font-size:15px;
	padding: 10px;
}

.titlebar .title {
	flex: 1 1 auto;
}
.titlebar .menu {
	flex: 0 1 auto;
}

#header-wrapper {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:50px;
	font-size:25px;
}

nav {
	margin-top:10px;
	display: flex;
}

nav ul {
	z-index:10;
	padding: 0;
  margin: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-grow:1;
}
	
nav ul li {
	flex: 1 1 auto;
	text-align: center;
}

nav a {
	display:block;
	/*padding:5px 20px 10px 20px;*/
	text-align:center;
	cursor:pointer;
}

nav a:hover { 
	color:orangered;
}

nav a.active {
	border-bottom: solid 1px white;
}


/* Hide Dropdowns by Default */
nav ul ul {
	background: #3B4346 url("images/bg02.jpg");
	border: solid 1px white;
	display: none;
	position: absolute; 
	top: 47px; /* the height of the main nav */
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
	
/* Display Dropdowns on Hover */
nav ul li:hover > ul {
	display:inherit;
}
	
/* Fisrt Tier Dropdown */
nav ul ul li {
	width:170px;
	float:none;
	display:list-item;
	position: relative;
}


.hide {
	display:none;
}

.screen {
	background:url('/data/logobackground.jpg');
	background-size:cover;
	background-position:center;
	position:absolute;
	top:50px;
	bottom:50px;
	left:0;
	right:0;
}


.selectedTool
{
	position:fixed;
	bottom:40px;
	left:0px;
	right:0px;
	background: #fff;
	/*padding: 40px 30px 45px 30px;*/
	padding:5px;
	display:flex;
	flex-direction: row;
	box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.1);
	z-index:1;
}

.selectedTool h2
{
	font-size: 1.8em;
	color: #373f42;
	margin: 0 0 0.25em 0;
}

.toolbar a.active {
	color: orangered;
}

.secondToolbar
{
	position:fixed;
	top:50px;
	left:10px;
	background: #fff;
	padding: 5px;
	box-shadow: 2px 2px 2px 1px rgba(128, 128, 128, 0.1);
	margin: 0;
	line-height:0px;
}

.secondToolbar a
{
	border:solid 1px black;
	border-radius: 4px;
	/*height:50px;*/
	display:inline-block;
	padding:4px;
	margin: 0px 2px 0 2px;
}
.secondToolbar a.active
{
	border-color: #f00;
}

.importToolbar {
	display:flex;
	flex-direction: row;
	/*align-items: center;*/
	width:100%;
	flex-grow:1;
	height:120px;
}

.importToolbar label {
	flex: 1 1 auto;
}

.modifyToolbar
{
	flex-grow:1;
	display: flex;
	flex-direction:row;
}
.modifyToolbar a, .modifyToolbar select
{
	flex: 1 1 auto;
}
.modifyToolbar a.active
{
	
	border-color: #f00;
	border-width : 1px;
	border-style: solid;
}


.renderPanel
{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.transformObjectViewContainer
{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	pointer-events:none;
}

.transformObjectView, .transformObjectView canvas
{
	pointer-events:none;
}


.profileViewContainer
{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
}

.printPanel
{
	position:absolute;
	top:1px;
	left:401px;
}

.materialView
{
	vertical-align: top;
}

.profileView
{
	border:black solid 1px;
}



.dropZone
{
	border: 2px dashed #bbb;
	border-radius: 5px;
	padding: 25px;
	text-align: center;
	font: 20pt bold 'Vollkorn';
	color: #bbb;
}

.sp-picker-container
{
	width:150px;
}

.btn-active-border, .btn-active-border:hover
{
	border-color:orange;
}

/*.modal {
	position:fixed;
	height:100%;
	width: 100%;
	background-color:rgba(0, 0, 0, 0.3);
	display:flex;
	align-items: center;
	flex-direction: column;
}

.modal-dialog {
	width:50%;
	margin:auto;
}*/

.modal-dialog-full {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content-full {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}

.modal-dialog-sculpteo {
  width: 1020px;
}

.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}